/.bundle/
/.yardoc
# /Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/examples/demo/*.csv
/examples/demo/*.xlsx

# rspec failure tracking
.rspec_status
.coveralls.yml

# !examples/demo/.rbenv-vars
examples/demo/.rbenv-vars
/.rbenv-vars

*.gem
